#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  padding: 0 20px;
  height: 55vh;
  background-color: rgb(241, 241, 241);
}
.home-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 40%;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px rgba(223, 168, 168, 0.75);
  background-color: whitesmoke;
}

.home h1 span:nth-child(1) {
  color: red;
}

.home h1 span:nth-child(2) {
  color: blue;
}

.home-right button {
  width: 80%;
  height: 20%;
}

.sign-in-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.sign-in-field .name {
  width: 80%;
  height: 20%;
  border-radius: 3px;
  border: transparent;
  font-size: 1.2em;
}
.sign-in-field .password {
  width: 80%;
  height: 20%;
  border-radius: 3px;
  border: transparent;
  font-size: 1.2em;
}

.home-register {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: baseline;
  justify-content: space-around;
}
.home-right .home-register a {
  width: 100%;
  height: 50vh;
  text-align: center;
}
.home-right .home-register a button {
  width: 80%;
  height: 50%;
  text-align: center;
}

.home-register hr {
  width: 80%;
  margin-bottom: 10%;
}

.home-register span {
  font-size: 10px;
}

.contact {
  background-color: blue;
  height: 50vh;
}
.register-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40% auto;

  height: 50vh;
  width: 60%;
  border-radius: 8px;
  background-color: rgb(229, 212, 212);
}

.register-field .input-wrap {
  width: 80%;
  height: 8%;
  margin-bottom: 2%;
  border-radius: 5px;
  border: transparent;
  font-size: 1.1em;
}

.register-field .input-wrap input {
  width: 100%;
  height: 75%;
  border-radius: 5px;
  border: transparent;
}
.register-field button {
  width: 80%;
  height: 10%;
  border-radius: 8px;
  border: transparent;
  box-shadow: 0 0 5px 1px rgba(78, 76, 76, 0.75);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
}

.register-field .error-mesaage {
  margin-top: 2%;
  color: red;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;

  background-color: rgb(249, 247, 246);
  color: var(--darkerblue);
  margin: 0 0 20px 0;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  height: 10vh;
  width: 100%;
  background-color: rgb(249, 247, 246);
  color: var(--darkerblue);
}

.top-nav img {
  width: 220px;
  height: 220px;
}

.top-nav-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 10vh;
  background-color: rgb(249, 247, 246);
}

.top-nav-user > * {
  margin: 0;
}

.main-nav .bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: rgb(249, 247, 246);
  color: var(--darkerblue);
  width: 50%;
  padding: 0 25% 0 25%;
  background-color: rgb(241, 241, 241);
}

.bill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  padding: 5%;
  border: black 1px solid;
  border-radius: 8px;
  margin-top: 100px;
  background-color: whitesmoke;
}

.bill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-subject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}
.selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 35%;
  padding: 0;
}

.selector {
  user-select: none;
  border: 1px solid black;
  border-radius: 400px;
  max-height: 45px;
  padding: 4px 10px;
  margin-left: 10px;
  cursor: pointer;
  color: rgb(15, 15, 16);
  background-color: rgb(241, 241, 241, 0.5);
  z-index: 10;
}

.selector.active {
  background-color: rgba(10, 12, 50, 0.8);
  color: white;
}

.subject-fields {
  display: flex;

  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}
.subject-fields input {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}

.legislative-term {
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-top: 20px;
}
.legislative-term #leg-term {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legislative-term #leg-term input {
  width: 100%;
}
.legislative-term #leg-term a {
  font-size: 6px;
}

.subject-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 10px 0;
  height: 50vh;
  max-width: 100%;
}
.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: space-around;
  padding: 20px 0;
  height: 50vh;
  overflow: hidden;
}

.carousel button {
  z-index: 10;
}
.bill-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bill-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--red);
  text-align: center;
  padding: 5%;
  min-width: 30%;
  height: 70%;
  max-width: 250px;
  overflow: scroll;
  box-shadow: 0 22px 34px rgba(22, 28, 45, 0.18);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.bill-card.active {
  z-index: 10;
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
}

.bill-card.prev {
  position: absolute;
  transform: translate(-80%, 0);
  opacity: 0.8;
}

.bill-card.next {
  position: absolute;
  opacity: 0.8;
  transform: translate(80%, 0);
}

.bill-card.prev:hover {
  z-index: 1;
  cursor: pointer;
}

.bill-card.next:hover {
  z-index: 1;
  cursor: pointer;
}
.bill-card .bill-url {
  color: blue;
  font-size: 0.2em;
}
.carousel-container .arrows-carousel {
  font-size: 40px;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  display: flex;
  justify-content: space-around;
}
.bill-collection-container {
  width: 100%;
}

.bill-collection {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bill-collection-container .bill-collection .policy-row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  width: 100%;
  overflow-x: scroll;
  white-space: none;
}
.bill-collection-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--red);
  text-align: center;
  padding: 5%;
  min-width: 220px;
  max-width: 20%;
  max-height: 250px;

  overflow: scroll;
  box-shadow: 0 22px 34px rgba(22, 28, 45, 0.18);
  border-radius: 10px;
  margin: 10px;
}
